html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

span.help{
    margin-left: 8px;
    cursor: pointer;
}

/* Shawn's customized page CSS */

{
    content: "?";
    padding: 0px 2px;
}

span.help{
    margin-left: 8px;
    cursor: pointer;
}

{
    content: "?";
    padding: 0px 2px;
}
.blue {
  background: #03A9F4;
}

.purple {
  background: #A786D5;
}
.green {
  background: #2CC5C6;
}

.red {
  background: #F16A5B;
}

.orange {
  background: #FFBB42;
}
.brown {
  background: #C6B2A9;
}

.morning-care{
    background-color: #68b828;
    color: white;
  }
.enrichment-activity{
    background-color: #03A9F4;
    color: #fff;
  }
.movie{
    background-color: #FFBB42;
    color: #fff;
  }
.afternoon-academics {
    background-color: #2CC5C6;
    color: #fff;
}
.math-electives {
    background-color: #C6B2A9;
    color: #fff;
}
.writing-electives {
    background-color: #F16A5B;
    color: #fff;
}
.gate-electives {
    background-color: #A786D5;
    color: #fff;
}
.days, .time {
  background: #34495e;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
}

.time {
  width: 3em !important;
  color: #fff;
}

    table.dataintable {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}
table.dataintable th {
    vertical-align: baseline;
    background-color: #33485F;
    padding: 1em;
    width: 10em;
    text-align: center;
}
table.dataintable tr:nth-child(2n) {
  background: #eff0f1;
}
table.dataintable tr:nth-child(2n+3) {
  background: #fff;
}
table.dataintable td {
    vertical-align: text-center;
    padding: 1em;
    width: 10em;
}

/* -------------------- 
   Side Menu
   --------------------*/
.sidebar-menu {
    display: table-cell;
    position: relative;
    width: 340px;
    background: #2c2e2f;
    z-index: 1;
}
.sidebar-menu.fixed {
    height: 100%;
}

.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}
body {
    font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2c2e2f;
    background-color: #ffffff;
}
.sidebar-menu.fixed .sidebar-menu-inner {
    position: fixed;
/*   left: 100px;  */
    top: 100px; 
    bottom: 0;
    width: inherit;
    overflow: hidden;
}
.sidebar-menu .main-menu {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}
.sidebar-menu .main-menu a {
    color: #979898;
    text-decoration: none;
    display: block;
    padding: 13px 5px;
    border-bottom: 1px solid #313437;
}
.sidebar-menu .main-menu a > i {
    display: inline-block;
    margin-right: 10px;
}
.sidebar-menu .main-menu a > i + span {
    padding-right: 10px;
}
.sidebar-menu .main-menu a > span {
    display: inline-block;
}

.sidebar-menu .main-menu li.active > a {
    color: #ffffff;
}
.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}
.page-container .main-content {
    position: relative;
    z-index: 1;
    padding: 30px;
    padding-bottom: 0;
    vertical-align: top;
    word-break: break-word;
    min-height: calc(100vh - 102px);
}


/* -------------------- 
   Footer
   --------------------*/

footer.main-footer {
    padding: 20px 30px;
    border-top: 1px solid #dddddd;
    font-size: 12px;
    margin-right: -30px;
    margin-top: 10px;
    background-color: #eeeeee;
    left: 80px;

}
footer.main-footer .footer-text {
    float: left;
}
footer.main-footer .go-up {
    float: right;
}
/* -----------------------------------------------
  App styles by Haoran
  ------------------------------------------------ */

body {
  padding-top: 70px;
}

.req {
  color: #ed1c24;
}

/* -----------------------------------------------
  Homepage
  ------------------------------------------------ */

div.web-boy {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("http://i.imgur.com/UP7fWfg.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

form.sub-form {
  background: #faf5f3;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  z-index: 10;
  padding: 60px 60px 80px;
  left: 50%;
  margin-left: -230px;
  opacity: 0.85;
  }
  form.sub-form h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: darken( #4e3332, 10% );
    letter-spacing: 0.061em;
    margin-top: 60px;
    margin-bottom: 60px;
    &.success {
      color: #356e64;
      margin-top: -40px;
      margin-bottom: 0px;
      padding: 0;
    }
  }

.info {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: darken( #4e3332, 10% );
    letter-spacing: 0.061em;
    margin-top: 60px;
    margin-bottom: 20px;
    &.success {
      color: #356e64;
      margin-top: -40px;
      margin-bottom: 0px;
      padding: 0;
    }
  }
  form.sub-form p.success-dialog {
    margin-top: -150px;
    color: #356e64;    
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.8em;
    text-transform: uppercase;
    form.sub-form a { 
      color: #9d775f; 
      text-decoration: none;
      transition: 0.8s all ease;
      &:hover {
        color: #c08159;
        transition: 0.4s all ease;
      }
    }
  }
  form.sub-form input { 
    width: 100%; 
    background: #fff;
    text-align: center;

    margin-bottom: 25px;
    box-shadow: none;
    appearance: none;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid $gray-dk;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    &:focus {
      border: 1px solid $gray-dk;
      outline: none;
      appearance: none;
    }
  } 
  input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  form.sub-form .submit {
    padding-top: 12px;
    padding-bottom: 12px;
        margin-top: 25px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background: #0D91CA;
    color: #fff;
    width: 101%;
    transition: 0.8s all ease;
    &:hover {
      background: #d6673c;
      transform: translateY(1px);
      transition: 0.4s all ease;
    }
  }

#firstname { margin-top: 20px; }

.circle {
  padding: 15px;
  height: 40px;
  width: 40px;
  margin-top: -80px;
  margin-left: 115px;
  position: absolute;
  z-index: 20;
  border-radius: 50%;
  clear: both;
  opacity: 0.8;
}

.circle-quill {
  border: 1px solid $gray-dk;
  background: #fff;
}

.circle-paper {
  border: 1px solid $green-lt;
  background: $green-dk;
}

.submit-under, .loader, .loader2, .circle-paper, p.success-dialog, h2.success {
  visibility: hidden;
}

.submit-under {
  background: #8c6e7a;
  width: 291px;
  height: 45px;
  margin-top: -40px;
  margin-left: -4px;
  position: absolute;
  z-index: -1;
}

.loader, .loader2 {
  position: absolute;
  z-index: -5;
  margin-top: -45px;
  margin-left: 114px;
}