/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

span.help{
    margin-left: 8px;
    cursor: pointer;
}

/* Shawn's customized page CSS */

{
    content: "?";
    padding: 0px 2px;
}

span.morning-care{
          background-color: #68b828;
    color: white;
  }
  span.enrichment-activity{
    background-color: #40bbea;
    color: #fff;
  }
  span.movie{
    background-color: #2c2e2f;
    color: #fff;
  }
span.afternoon-academics {
    background-color: #ffba00;
    color: #fff;
}
span.electives {
    background-color: #7c38bc;
    color: #fff;
}


    table.dataintable {
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}
table.dataintable th {
    vertical-align: baseline;
    padding: 5px 15px 5px 6px;
    background-color: #d5d5d5;
    border: 1px solid #aaa;
    text-align: left;
}
table.dataintable td {
    vertical-align: text-top;
    padding: 6px 15px 6px 6px;
    background-color: #efefef;
    border: 1px solid #aaa;
}
table.dataintable li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.dataintable ul, table.dataintable li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* -------------------- 
   Site Manu
   --------------------*/
.sidebar-menu {
    display: table-cell;
    position: relative;
    width: 340px;
    background: #2c2e2f;
    z-index: 1;
}
.sidebar-menu.fixed {
    height: 100%;
}

.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}
body {
    font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2c2e2f;
    background-color: #ffffff;
}
.sidebar-menu.fixed .sidebar-menu-inner {
    position: fixed;
/*   left: 100px;  */
    top: 100px; 
    bottom: 0;
    width: inherit;
    overflow: hidden;
}
.sidebar-menu .main-menu {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}
.sidebar-menu .main-menu a {
    color: #979898;
    text-decoration: none;
    display: block;
    padding: 13px 5px;
    border-bottom: 1px solid #313437;
}
.sidebar-menu .main-menu a > i {
    display: inline-block;
    margin-right: 10px;
}
.sidebar-menu .main-menu a > i + span {
    padding-right: 10px;
}
.sidebar-menu .main-menu a > span {
    display: inline-block;
}

.sidebar-menu .main-menu li.active > a {
    color: #ffffff;
}
.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}
.page-container .main-content {
    position: relative;
    z-index: 1;
    padding: 30px;
    padding-bottom: 0;
    vertical-align: top;
    word-break: break-word;
    min-height: calc(100vh - 102px);
}


/* -------------------- 
   Footer
   --------------------*/

footer.main-footer {
    padding: 20px 30px;
    border-top: 1px solid #dddddd;
    font-size: 12px;
    margin-right: -30px;
    margin-top: 10px;
    background-color: #eeeeee;
    left: 80px;

}
footer.main-footer .footer-text {
    float: left;
}
footer.main-footer .go-up {
    float: right;
}
/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

body {
  padding-top: 50px;
}

.article, .comment {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 14px;
  color: #000 !important;
}

.navbar-nav > li > a.travis{
  padding-top: 13px;
}

.navbar-right > li > a {
  padding-left: 5px;
  padding-right: 5px;
}